<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330335315164-gq6k34d6t53nhmsvvp5pe0q7ifvpvalv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330335315164-gq6k34d6t53nhmsvvp5pe0q7ifvpvalv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330335315164-9gi2fa3vktr526csldp294rves8goc6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHuMX-SB7VaKzPXiMcQXqOE4ncXDDoivM</string>
	<key>GCM_SENDER_ID</key>
	<string>330335315164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moh3enit.myhungrygame</string>
	<key>PROJECT_ID</key>
	<string>hungry-game-1</string>
	<key>STORAGE_BUCKET</key>
	<string>hungry-game-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330335315164:ios:820bd450ba069231830019</string>
	<key>DATABASE_URL</key>
	<string>https://hungry-game-1-default-rtdb.firebaseio.com</string>
</dict>
</plist>